.SinglePost {
    display: flex;
    flex-wrap: wrap;
}

.singlePost-body {
    flex: 9;
    min-width: 500px;
}

.singlePost-img {
    width: 100%;
    height: 500px;
    margin-top: 10px;
    border-radius: 5px;
}

.singlePost-title {
    font-family: 'Aboreto', serif;
    font-weight: 300;
}

.singlePost-edit {
    float: right;
    margin-left: 12px;
}

.singlePost-icon {
    padding-left: 12px;
    cursor: pointer;
}
.singlePost-icon:first-child {
    color: var(--blog-color)
}
.singlePost-icon:last-child {
    color: var(--bg-gray);
}

.singlePost-info {
    display: flex;
    justify-content: space-between;
}
.info-author{
    font-family: 'Lora', serif;
    font-weight: 100;
    text-transform: uppercase;
}
.singlePost-description {
    font-family: 'Josefin', serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
}
.singlePost-description::first-letter
{
    margin-left: 20px;
    font-size: 32px;
    font-weight: 600;
}
