.topbar {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: 0px;
    width: 100vw;
    min-width: 100vw;
    height: 50px;
    color: #ffe9df;
    background-color: #7c5e8c;
    z-index: 999;
    font-size: 100%;
}

.topbar-left,
.topbar-right {
    flex: 1;
}

.topbar-left {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-around;
}


.topbar-center {
    flex: 2;
    font-size: 1rem;
    font-family: 'Lora','san-sarif';
    font-weight: 300;
}

.topbar-center-list,
.topbar-right-list {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.right-list-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.right-list-search {
    font-size: 1.5rem;
}

@media screen and (max-width:375px) {
    .topbar-left{
        display: none;
    }
    .topbar-center{
        font-size: 0.8rem;
    }
}