.PageSettings {
    width:100vw;
    display: flex;
    flex-flow: wrap;
}

.setting-wrapper {
    flex:1 1 50vw ;
    height: 30vw;
    margin: 1rem 0 0 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px #867974 solid;
    border-radius: 1rem;
    background: #7c5e8c;
    box-shadow: 5px -5px 13px #e9e3e3,
        -5px 5px 13px #1b1a1a;
    backdrop-filter: blur(6.5px);
}

.setting-form {
    flex:1 1 35rem ;
    background-color: #ffe9df;
    border-radius: 1rem 1rem 0 0;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 0 0;
    
}

.setting-title {
    flex:1 1 20rem;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lora', 'Aboreto', cursive;
}

.setting-title-update {
    font-size: 25px;
    border-bottom: 1px solid;
    text-transform: uppercase;
    color: #ffe9df;
}

.setting-title-delete {
    font-size: 22px;
    color: red;
    padding-right: 35px;
}

.setting-form-profile {
    font-size: 16px;
    color: #554f4d;
    font-family: 'Aboreto', cursive;
    font-weight: 600;
    padding: 2rem 0 0 1rem;

}

.setting-form-profile-img {
    align-items: center;
    margin: 1rem 1rem;
}

.setting-form-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.setting-form-icon {
    float: right;
    margin-left: 20px;
    font-size: 30px;
    padding-left: 22px;
    padding-right: 35px;
}

.setting-form-info {
    display: flex;
    flex-flow: column wrap;
}

.setting-form-info-value {
    display: inline-block;
    width: 50%;
    margin-bottom: 10px;
}

.setting-form-input {
    padding: 10px;
    margin-left: 10px;
    border: none;
    font-family: 'Lora', 'Aboreto', cursive;
    width: inherit;

}

.setting-form-input:focus {
    border-bottom: 1px solid black;
    outline: none;
    padding: 5px;
}

.setting-form-button {
    padding: 10px;
    background-color: teal;
    border-radius: 12px;
    margin-top: 12px;
}

.setting-form-button:hover {
    padding: 12px;
    background-color: teal;
    border-radius: 12px;
    color: wheat;
}