.center {
    display: flex;
    justify-content: center;
    align-items: center;
    ;
}

.center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ;
}

.t-center {
    text-align: center;
}

.f-lora {
    font-family: 'Lora';
}

.f-josefin {
    font-family: 'Josefin Sans', sans-serif;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list-none {
    list-style: none;
}

.link:hover {
    text-decoration: none;
    color: inherit;
}

#root {
    --header-box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px;
    --blog-color: rgb(98, 228, 170);
    --cart-color: rgb(20, 19, 19);
    --gray: rgba(124, 118, 118, 0.511);
    --tab-bg: #FCEEC0;
    --bg-gray: rgba(235, 99, 30, 0.511);

}

.cur {
    cursor: pointer;
}