.Posts
{
    flex: 9;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding-top: 1rem;
    background-color: #7c5e8c59;
    border: 1px #867974 solid;
    border-radius: 1rem;
}